<h1>JUEGO DE AHORCADO</h1>

<p name="errores"><%= @errors %></p>
<p name="incorrectas">Letras incorrectas: <%= @bad_letters %></p>

<form action="/buscar" method="post">
  Ingrese una Letra<input type="text" name="campo" size="1" pattern="[A-Za-z]" maxlength=1 minlength=1 required />
  <input type="submit" value="Enviar" />
</form>

<p name="encontradas" style="font-size:50px;"><%= @found %></p>

<p name="resultado"><%= @result %></p>
<p name="palabra"><%= @word %></p>
<p name="fin"><%= @endgame %></p>

<a href ="/">Comenzar nuevamente</a>
